[submodule "libraries/sqlite/src"]
	path = libraries/sqlite/src
	url = https://github.com/osquery/third-party-sqlite.git
[submodule "libraries/catch2/src"]
	path = libraries/catch2/src
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/rapidjson/src"]
	path = libraries/rapidjson/src
	url = https://github.com/Tencent/rapidjson.git
[submodule "libraries/broker/src"]
	path = libraries/broker/src
	url = https://github.com/zeek/broker
[submodule "libraries/xxhash/src"]
	path = libraries/xxhash/src
	url = https://github.com/Cyan4973/xxHash
[submodule "libraries/audit/src"]
	path = libraries/audit/src
	url = https://github.com/linux-audit/audit-userspace
[submodule "libraries/zlib/src"]
	path = libraries/zlib/src
	url = https://github.com/madler/zlib
[submodule "libraries/broker-legacy/src"]
	path = libraries/broker-legacy/src
	url = https://github.com/zeek/broker
