[submodule "libraries/sqlite/src"]
	path = libraries/sqlite/src
	url = https://github.com/osquery/third-party-sqlite.git
[submodule "libraries/catch2/src"]
	path = libraries/catch2/src
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/rapidjson/src"]
	path = libraries/rapidjson/src
	url = https://github.com/Tencent/rapidjson.git
[submodule "libraries/broker/src"]
	path = libraries/broker/src
	url = https://github.com/zeek/broker
